<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/main :: head}"></head>
<body>
<header th:replace="~{fragments/main :: header}"></header>
<section class="hero" th:style="'background: url(/images/hero.jpg) no-repeat center ; background-size:cover;'">
    <section class="container" style="position: relative; z-index: 1">
        <h3>[[${#request.userPrincipal.principal.username}]]'s profile</h3>

        <hr>


    </section>

    <footer th:replace="~{fragments/main :: footer}"></footer>

</section>
</body>
</html>